registry=https://registry.npmmirror.com/

# sqlite
better_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/better-sqlite3
better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
node_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/sqlite3
node_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3

# node-canvas
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas

# node-html-to-image
# node-html-to-image <= 3.4.0
# puppeteer-download-host=https://cdn.npmmirror.com/binaries
# node-html-to-image >= 4.0.0
puppeteer-download-base-url=https://cdn.npmmirror.com/binaries/chrome-for-testing
