registry=https://registry.npmmirror.com/

# sqlite
better_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/better-sqlite3
better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
node_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/sqlite3
node_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3

# node-canvas
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
